<h1 class='text-c'>Welcome to Flow!</h1>

<main role="main">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="post">
        <span class="titles"><a href="<%= "/" %>"><%= post.title %></a></span>
        <span class="questions"><a href="<%= "/" %>"><%= post.question %></a></span>
      </li>
    <% end %>
  </ul>
</main>
