<h1>Flow Questions</h1>
<main role="main">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="post">
        <span class="titles"><a href="<%= "/" %>"><%= post.title %></a></span>
      </li>
    <% end %>
  </ul>
</main>
