<form action="/posts" method="post" class="center max-w-600">
  <input type="text" class="round-1 text-c center block no-padding" name="post[question]" placeholder="question"><br>
  <input type="text" class="round-1 text-c center block no-padding" name="post[title]" placeholder="title"><br>
  <input type="submit" class="round-1 center block" value="submit question">
</form>
