<form action="/posts" method="post" class="">
  <input type="text" name="post[question]" placeholder="question"><br>
  <input type="text" name="post[title]" placeholder="title"><br>
  <input type="submit" value="submit question">
</form>
