<form id="new_post" action="/posts" method="post" class="center max-w-600">
  <input type="text" class="round-1 text-c center block no-padding" name="post[title]" placeholder="title"><br>
  <textarea form="new_post" class="round-1 text-c center block no-padding" name="post[question]">type your question here</textarea><br>
  <input type="submit" class="round-1 center block" value="submit question">
</form>
