<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>stackQQ</title>
</head>
<body class="bg-mintcream">
  <header role="banner" class="pad-t-1 pad-b-2 pad-s-1 wrap-float bg-yellow">
    <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          <% if session[:message]!=nil %>
            <li class="pipe-separate t-pink left"><a href="/posts/new">newQQ</a></li>
            <li class="pipe-separate t-pink left"><a href='/users/<%= session[:id] %>'><%= User.find(session[:id]).email %></a></li>
            <li class="pipe-separate t-pink left"><a href="/users/logout">log out</a></li>
          <% else %>
            <li class="pipe-separate t-pink left"><a href="/users/new">register</a></li>
            <li class="pipe-separate t-pink left"><a href="/users/login">login</a></li>
          <% end %>
          <li class="pipe-separate t-pink left"><a href="/">home</a></li>
        </ul>
      </nav>

      <div class="logo-container">
        <h1>stackQQ</h1>
      </div>
    </div>
  </header>


  <%= yield %>
</body>
</html>
